<% layout("/layouts/boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to airbng</title>
</head>
<body>
    <h1>Welcome to airbng</h1>
    <br>
    <br>
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" placeholder="Title" class="form-control" required>
            <div class="valid-feedback"> Valid </div>
            <div class="invalid-feedback">Not Valid</div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <input type="text" required name="description" placeholder="Description" class="form-control">
            <div class="valid-feedback"> It's Fine </div>
            <div class="invalid-feedback">Enter proper Description</div>
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input type="text" name="image" placeholder="Image URL" class="form-control">
        </div>
        <div class="col-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" required placeholder="1200" class="form-control">
            
        </div>
        <div class="col-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" required name="location" placeholder="Location" class="form-control">
        </div>
        <div class="col-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" value="India" name="country" placeholder="Country" class="form-control">
        </div>
        <br>
        <button class="btn new-btn">Add</button>
    </form>
</body>
</html>
 