.navbar{
    height: 5vw;
    background-color: white;
}
.fa-compass{
    color: #fe424d; 
    font-size: 2vw;
}
.nav-link{
    color: #222222 !important; 
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 100%;
    background-color: #EBEBEB;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    /* IMP */
    text-align: center;
}
.f-info-social{
    width: 100%;
}
.f-info-links{
    width: 100%;
}
/* .row{
    display: flex;
    justify-content:space-evenly;
} */
.listing_card{
    border: none !important;
    margin-bottom: 2rem;
    padding: 0;
    
}
.card-img-top{
    border-radius: 1.2rem !important;
    width: 100% !important;
}
.listings-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
} 

.new-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

.show-img{
    height: 45vh;
}
.btns{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-right: 3vw;
}
.btn1,.btn2,.btn3{
    margin: 0 1rem;
}

.bb{
    display: flex !important ;
    justify-content: space-around;
}